body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5rem;
    background: url(img/background.jpg);
    background-repeat: repeat;
}

#container {
    width: 600px;
    margin: 1rem auto;
    padding: 30px;
    display: grid;
    border: 10px solid white;
    border-radius: 25px;
    background-color: black;
}



.button-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.bottom-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.btn {
    background-color: lightgrey;
    border: 3px solid white;
    border-radius: 20px;
    padding: 10px;
    height: 5rem;
    margin: 5px;
    text-align: center;
}


.digit {
    background-color: #6FD0D6;
}

.digit:hover {
    background-color: #55a6aa;
    color: white;
}

.special {
    background-color: #7064B0;
}

.special:hover {
    background-color: #514882;
    color: white;
}

.opperator {
    background-color: #FF7BCB;
}

.opperator:hover {
    background-color: #c45c9a;
    color: white;
}

#display {
    background-color: #F2E13C;
    border-radius: 25px;
    border: 2px solid black;
    margin-bottom: 1rem;
    font-family: monospace;
    font-size: 4rem;
    display: block;
}

#sum-content {
    font-size: 2rem;
    margin-right: 3.5rem;
    text-align: right;
}

#display-content {
    margin-right: 3rem;
    font-size: 4rem;
    text-align: right;
}


